@import "tailwindcss";

/* Definiamo i nostri colori (Giallo, Grigio, Nero) */
:root {
  --colore-sfondo: #1a1a1a; /* Grigio scuro/Nero */
  --colore-testo: #F5F5F5;  /* Bianco sporco */
  --colore-primario: #FFD700; /* Giallo Lupa */
  --colore-secondario: #333333; /* Grigio medio */
}

body {
  background: var(--colore-sfondo);
  color: var(--colore-testo);
  font-family: Arial, Helvetica, sans-serif;
}

/* AGGIUNGI QUESTA CLASSE IN FONDO */
.font-brand {
  font-family: var(--font-brand);
}